<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ridhoafnidev.edtc.subfeature.create_event">

    <application>
        <activity
            android:name="com.ridhoafnidev.edtc.subfeature.create_event.CreateEventActivity"
            android:exported="true"
            android:theme="@style/BaseTheme"/>
    </application>

</manifest>